# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=lms_db

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=3000
NODE_ENV=development

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8410000255:AAFO6La1dUKNGFHiRCx7FolybUOkxhOxBrw
TELEGRAM_WEBHOOK_URL=https://lms.api.universal-uz.uz/telegram/webhook

# Application URLs
FRONTEND_URL=https://lms.universal-uz.uz
BACKEND_URL=https://lms.api.universal-uz.uz